html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
  /* background-image: repeating-linear-gradient(to bottom right, #777777, #333333, #555555 3%); */
  background-image: repeating-linear-gradient(-45deg, #333333, #111111, #222222 15%);
  background-size: 100% 100vh; /* Set fixed width (100%) and height (100vh) for the background gradient */
  background-attachment: fixed; /* Fix the background position relative to the viewport */
}



/* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  top: 0;
  left: 20%;
  transform: translateX(-90%);
  width: 251px; /* Adjust the value as per your preference */
  background-color: rgba(53, 52, 52, 0.5);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#title {
  font-family: 'Space Mono', monospace;
  font-size: 200px;
  color: White;
  text-align: center;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border: 50px;
  border-radius: clamp(0.4rem, 0.75vw, 1rem); 
  text-decoration: none;
}

#title:hover {
  background-color: white;
  color: black;
  text-align: center;
}

.paragraph {
  font-size: 20px;
  font-family: 'Space Mono', monospace;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 75px;
}

.underUndertitle {
  margin: 1px;
}

.undertitle {
  font-size: 30px;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  color: white;
  padding: 3px;
  border-radius: 5px; 
}

.undertitle:hover {
  background-color: white;
  color: black;
  text-align: center;
}

#abouMe {
  padding-top: 100px;
}

#prevPro {
  padding-bottom: 10px;
}

footer {
  color: #595959;
  font-size:14px;
  text-align:center;
  margin-top:10px;
}